/* css styles */
.listing-item a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background-color: #007BFF; /* Choose your preferred color */
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
  }
  
  .listing-item a:hover {
    background-color: #0056b3; /* Darken color on hover */
  }
  

  /* Scroll Indicator Styles */
.scroll-indicator {
  position: absolute;
  top: 47.5%; /* Center vertically on the page */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #007BFF;
  animation: bounce 1.5s infinite; /* Add bounce animation */
}

/* Animation for the scroll indicator */
@keyframes bounce {
  0% {
    transform: translate(-50%, -50%) translateY(0);
  }
  50% {
    transform: translate(-50%, -50%) translateY(20px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0);
  }
}
